[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
fastapi = {extras = ["all"], version = "*"}
elasticsearch-dsl = "*"
pytest = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"
websocket = "*"

[dev-packages]

[requires]
python_version = "3.12"
