[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
pytest = "==7.1.2"
autopep8 = "==1.6.0"
uvicorn = {extras = ["standard"], version = "==0.17.6"}
requests-toolbelt = "==0.9.1"
python-multipart = "==0.0.5"
kafka-python = "==2.0.2"
prometheus-client = "==0.14.1"
loguru = "==0.6.0"
aiokafka = "==0.7.2"
redis = "==4.3.4"
influxdb-client = "*"
websockets = "*"
websocket-client = "*"
elasticsearch = "==8.4.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build-qt = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/analysis:1.0 . --push"
build-dev = "docker buildx build -f Dockerfile -t mx2542/analysis:dev ."
depoly-dev = "helm install analysis chart -n tink --set imagePullPolicy=IfNotPresent --set image=mx2542/analysis:dev"
upgrade-dev = "helm upgrade analysis chart -n tink --set imagePullPolicy=IfNotPresent --set image=mx2542/analysis:dev"
