[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
pytest = "==7.1.2"
autopep8 = "==1.6.0"
uvicorn = {extras = ["standard"], version = "==0.17.6"}
requests-toolbelt = "==0.9.1"
python-multipart = "==0.0.5"
kafka-python = "==2.0.2"
prometheus-client = "==0.14.1"
loguru = "==0.6.0"
aiokafka = "==0.7.2"
redis = "==4.3.4"
influxdb-client = "*"
websockets = "*"
websocket-client = "*"
elasticsearch = "==8.4.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
serve = "uvicorn src.main:app --reload --host=127.0.0.1 --port=8004"
proxy = "kubectl port-forward svc/analysis 8004:8004"
build = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/analysis:1.0 . --push"
build4qt = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/analysis:1.0 . --push"
